@page
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deposit calculator</title>
</head>
@*<body onload="onLoad();">*@
    <body>
        <div align="center">
            <div style="width: 700px; height: 320px; border: double">
                <div class="settings link btn btn-link" onclick="Settings()">Settings</div>
                <div class="history link btn btn-link" onclick="History()">History</div>

                <table>
                    <tr>
                        <td>Deposit Amount: *</td>
                        <td><input id="amount" oninput="VerifyNumber('amount', 0, 100000);"></td>
                        <td id="currency">$</td>
                    </tr>
                    <tr>
                        <td>Rate of Interest: *</td>
                        <td><input id="percent" oninput="VerifyNumber('percent', 0, 100);"></td>
                        <td>%</td>
                    </tr>
                    <tr>
                        <td>Investment Term: *</td>
                        <td colspan="2"><input id="term" oninput="VerifyTerm('term', 0);" /></td>
                    </tr>
                    <tr>
                        <td>Start Date:</td>
                        <td colspan="2">
                            <select id="day" onchange="CalculateDate()"></select>
                            <select id="month" onchange="ResetMonth();CalculateDate();"></select>
                            <select id="year" onchange="ResetMonth();CalculateDate();"></select>
                        </td>
                    </tr>
                    <tr id="finYear">
                        <td>Financial Year:</td>
                        <td><input type="radio" onchange="SetYear(360)" checked="checked">365 days</td>
                        <td><input type="radio" onchange="SetYear(365)">360 days</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-sm btn-primary" id="calculateBtn" onclick="Calculate().then(Save)">Calculate</button></td>
                    </tr>
                    <tr>
                        <th>Interest Earned:</th>
                        <th><input id="interest" readonly /></th>
                    </tr>
                    <tr>
                        <th>Income:</th>
                        <th><input id="income" readonly /></th>
                    </tr>
                    <tr>
                        <th>End Date:</th>
                        <th><input id="endDate" readonly /></th>
                    </tr>
                    <tr><td colspan="3">* - mandatory fields</td></tr>
                </table>
            </div>
        </div>
    </body>
</html>

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/calculator.js" asp-append-version="true"></script>
