@page
@model WebSite.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div align="center">
        <div style="width: 500px; height: 270px; border: double">
            <div style="text-align: right; cursor: pointer" onclick="window.location='/Register'">Register</div>

            <table>
                <tr>
                    <th class="user">Login:</th>
                    <td>
                        <input id="login" />
                    </td>
                </tr>
                <tr>
                    <th class="pass">Password:</th>
                    <td>
                        <input type="password" id="password" />
                    </td>
                    <td style="width: 100px">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right" style="width: 100px" id="buttons">
                        <button onclick="Login()" title="Login" id="loginBtn">Login</button>
                        <button onclick="RemindPassword()" title="remind" id="remindBtn">Remind password</button>
                    </td>
                </tr>
                <tr>
                    <th style="color: red" id="errorMessage" colspan="3"></th>
                </tr>
                <tr>
                    <td colspan="3">
                        <iframe id="remindPasswordView" hidden src="~/RemindPassword.html" style="height: 130px"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/cookies.js" asp-append-version="true"></script>
<script src="~/js/login.js" asp-append-version="true"></script>
