@page
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Settings</title>
</head>
<body>
    <div align="center">
        <div style="width: 500px; height: 270px; border: double">
            <div style="text-align: right; cursor: pointer" onclick="window.location = '/'">Logout</div>

            <table>
                <tr>
                    <th>Date format:</th>
                    <td>
                        <select id="dateFormat">
                            <option>dd/MM/yyyy</option>
                            <option>dd-MM-yyyy</option>
                            <option>MM/dd/yyyy</option>
                            <option>MM dd yyyy</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Number format:</th>
                    <td>
                        <select id="numberFormat">
                            <option>123,456,789.00</option>
                            <option>123.456.789,00</option>
                            <option>123 456 789.00</option>
                            <option>123 456 789,00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Default currency:</th>
                    <td>
                        <select id="currency">
                            <option>$ - US dollar</option>
                            <option>&euro; - euro</option>
                            <option>&pound; - Great Britain Pound</option>
                        </select>
                    </td>
                </tr>
                <tr><td style="height: 50px" /></tr>
            </table>

            <div align="center">
                <button onclick="Save();window.location = 'Calculator';" title="Save" id="save">Save</button>
                <button onclick="window.location = 'Calculator'" title="Save" id="cancel">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/cookies.js" asp-append-version="true"></script>
<script src="~/js/settings.js" asp-append-version="true"></script>
