<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
</head>
<body>
	<div align="center">
		<div style="width:500px; height:270px; border:double">
			<table>
				<tr>
					<th class="user">Login:</th>
					<td>
						<input id="login" />
					</td>
				</tr>
				<tr>
					<th class="pass">Password:</th>
					<td>
						<input type="password" id="password" />
					</td>
					<td style="width: 100px">
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right" style="width: 100px" id="buttons">
					</td>
				</tr>
				<tr>
					<th style="color: red" id="errorMessage" colspan="3"></th>
				</tr>
				<tr>
					<td colspan="3">
						<iframe id="remindPasswordView" hidden src="~/Static/RemindPassword.html" style="height:130px"></iframe>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
	RemindPassword = function () {
		document.getElementById('remindPasswordView').hidden = false;
    }

    Login = function () {
        var correctPass = 'newyork1';
        var correctUser = 'test';

		var login = document.getElementById('login').value;
		var password = document.getElementById('password').value;

		if (login === correctUser && password === correctPass) {
			window.location.href = window.location = '@Url.Action("Index","Deposit")';
		}

		if (login.trim() === '' || password.trim() === '') {
			ShowError("User name and password cannot be empty!");
			return;
		}

		if (login !== correctUser || password !== correctPass) {
			ShowError("Incorrect user name or password!");
			return;
		}
	}

	ShowError = function(error) {
		document.getElementById('errorMessage').textContent = error;
    }

	function sleep (time) {
		return new Promise((resolve) => setTimeout(resolve, time));
	}

    window.onload = function () {
        sleep(500).then(() => {
            document.getElementById('buttons').insertAdjacentHTML('afterBegin',
                '<button onclick="Login()" title="Login" id="loginBtn">Login</button>');

            document.getElementById('buttons').insertAdjacentHTML('beforeEnd',
	            '<button onclick="RemindPassword()" title="remind" id="remindBtn" style="display:none">Remind password</button>');

            sleep(500).then(() => document.getElementById('remindBtn').style.display = "initial");
		});
    }
</script>