name: .NET

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet-version: ['5.0.x' ]

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven

      - name: WebSite - restore dependencies
        run: dotnet restore WebSite.sln

      - name: WebSite - Build
        run: dotnet build WebSite.sln --configuration Release --no-restore 

      - name: WebSite - Launch
        run: cd ./WebSite/bin/Release/net5.0 && dotnet WebSite.dll &

      - name: Tests - Build
        run: mvn -B package --file ./Tests/pom.xml

      - name: Tests - Run
        run: mvn test --file ./Tests/pom.xml -DBaseUrl=https://localhost:5001/
        